<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-9 px-0">
          <h1 class="display-4 fst-italic" style="font-weight: 400;">Software de gestión de trabajo</h1>
          <p class="lead my-3">Software desarrollado con el objetivo de administrar el flujo de trabajo de 
            una empresa teniendo en cuenta los trabajadores actuales y sus respectivas tareas, acorde a los 
            permisos del usuario.</p>
        </div>
      </div>
</div>