ul.nav li:hover a {
    background-color: gray;
    color: yellow;
  }

  .nav-link:hover {
    box-shadow: 0 0 10px rgba(207, 179, 179, 0.5);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
  }

  .nav-link {
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 10px;
    border: 1px solid rgb(229, 201, 201);
  }

  .btn {
    font-size: 18px;
  }

  .login {
    background-color: rgb(45, 119, 119);
  }

  .login:focus {
    background-color: rgb(178, 213, 230);
  }

  .register:focus {
    background-color: rgb(235, 228, 136);
  }

  .btn:hover {
    box-shadow: 0 0 10px rgba(207, 179, 179, 0.5);
    background-color: rgb(212, 210, 210);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
  }

  .btn:focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(224, 215, 215, 0.5);
    color: black;
  }

  a {
    text-decoration: none;
    color: white;

    &.active{
      color: orange;
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(224, 215, 215, 0.5);
    }
  }
  

  .logo {
    cursor: pointer;
  }

  .logo:hover {
    box-shadow: 0 0 10px rgba(207, 179, 179, 0.5);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}